@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/fonts/NunitoSans.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald.ttf");
}
