@import "base";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 150px;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 70px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
  &-logo {
    width: 8%;
    height: 80%;
    img {
      margin-top: 10px;
      height: 80%;
    }
  }
}

.link {
  &-list {
    margin-left: 10px;
    display: flex;
    gap: 30px;
  }
  &-item {
    color: black;
  }
}

.banner {
  width: 100%;
  height: 120vh;
  background-image: url("../assets/images/Recruitment_Sector_Logistics.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.info {
  &-title {
    font-size: 20px;
    color: white;
    font-family: "Nunito", sans-serif;
  }
  &-big-title {
    font-size: 60px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
}

.card {
  width: 450px;
  height: 450px;
  border: 1px #dee2e6 solid;
  text-align: left;
  transition: 0.5s;
  cursor: pointer;
  img {
    width: 100%;
    margin-bottom: 30px;
  }
  &:hover {
    scale: 1.04;
  }
  &-title {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    padding-left: 20px;
    font-size: 20px;
  }
  &-info {
    font-family: serif;
    color: #7f7f87;
    font-size: 20px;
    padding-left: 20px;
  }

  &-section {
    text-align: center;
    height: 80vh;
    &-title {
      font-size: 15px;
      font-family: "Nunito", sans-serif;
    }
    &-big-title {
      margin-top: 15px;
      margin-bottom: 30px;
      font-size: 35px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
    }
  }
  &-list {
    display: flex;
    gap: 20px;
  }
}

.footer {
  background-color: #2c86ff;
  color: white;
  width: 100%;
  height: 63vh;
  font-family: "Nunito", sans-serif;
  &-name {
    font-size: 35px;
    padding-top: 50px;
    font-weight: 600;
  }
  &-info {
    font-size: 20px;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    width: 450px;
  }
  &-contact {
    font-size: 20px;
    &-title {
      padding-top: 50px;
      padding-bottom: 30px;
      font-size: 20px;
    }
  }
}
