.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 150px;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
