.container {
  width: 100%;
  max-width: responsive-calc(1450);
  margin: 0 auto;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
