.footer {
  background-color: $footer-color;
  color: $text-light;
  padding-bottom: responsive-calc(20);
  font-family: "Nunito", sans-serif;
  &-left {
    float: left;
  }
  &-name {
    font-size: responsive-calc(40);
    padding-top: responsive-calc(50);
    font-weight: 600;
  }
  &-info {
    font-size: responsive-calc(20);
    padding-top: responsive-calc(10);
    font-family: "Montserrat", sans-serif;
    width: 450px;
  }
  &-contact {
    font-size: responsive-calc(22);
    @extend .flex-col;
    gap: 20px;
    &-title {
      padding-top: responsive-calc(50);
      padding-bottom: responsive-calc(30);
      font-size: responsive-calc(22);
    }
  }
}
