.footer {
  background-color: $footer-color;
  color: $text-light;
  width: 100%;
  padding-bottom: 20px;
  font-family: "Nunito", sans-serif;
  &-left {
    float: left;
  }
  &-name {
    font-size: 35px;
    padding-top: 50px;
    font-weight: 600;
  }
  &-info {
    font-size: 20px;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    width: 450px;
  }
  &-contact {
    font-size: 20px;
    @extend .flex-col;
    gap: 20px;
    &-title {
      padding-top: 50px;
      padding-bottom: 30px;
      font-size: 20px;
    }
  }
}
