.hidden {
  display: none;
}

.header {
  @extend .flex-align-center;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
  &-inner {
    height: 70px;
    @extend .flex-align-center;
    @include tablet-breakpoint {
      justify-content: space-between;
    }
  }
  &-logo {
    width: 20%;
    height: 80%;
  }
  .logo-img {
    margin-top: 10px;
    height: 80%;
  }
  .burger-icon {
    display: none;
    cursor: pointer;
    @include tablet-breakpoint {
      display: block;
    }
  }
  .toggle {
    &-menu {
      margin: 20px 0;
      text-align: center;
      transition: 500ms;
    }
    &-link {
      &:hover {
        background-color: $footer-color;
        color: $text-light;
      }
    }
  }
}

.link {
  &-list {
    display: flex;
    gap: 30px;
  }
  &-item {
    color: $text-black;
    @include tablet-breakpoint {
      display: none;
    }
  }
}
