.link {
  &-list {
    margin-left: 20px;
    display: flex;
    gap: 30px;
  }
  &-item {
    color: $text-black;
  }
}

.banner {
  width: 100%;
  height: responsive-calc(1200);
  background-image: url("../assets/images/Recruitment_Sector_Logistics.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  &-inner {
    padding-top: responsive-calc(120);
  }
}

.info {
  &-title {
    font-size: responsive-calc(25);
    color: $text-light;
    font-family: "Nunito", sans-serif;
  }
  &-big-title {
    font-size: responsive-calc(65);
    color: $text-light;
    font-family: "Montserrat", sans-serif;
    @extend .flex-col;
  }
}
